.coffee-type {
  // background-image: url("../images/coffee-types.jpeg");
  background-size: 333.333%;
  border: 15px solid white;
  border-radius: 0.5rem;
  width: 150px;
  height: 150px;
  margin: 0 auto 15px;

  &.espresso {
    background-position: top left;
  }

  &.doppio {
    background-position: top center;
  }

  &.americano {
    background-position: top right;
  }

  &.cappuccino {
    background-position: 0 33.333%;
  }

  &.latte {
    background-position: center 33.333%;
  }

  &.mocha {
    background-position: right 33.333%;
  }

  &.macchiato {
    background-position: right 66.666%;
  }
}
