.coffee-order-app {
  background-color: $green;
  border-radius: 0.5rem;
  border: 2px dashed $dark;
  width: 658px;
  margin: 60px auto 30px;
  padding: 45px 30px 30px;

  img {
    opacity: 0.85;
  }

  header {
    color: $cream;
    margin-bottom: 30px;
    text-align: center;
  }
}

.coffee-types-form {
  display: block;
  box-sizing: border-box;
  padding: 0;
  width: 100%;

  .coffee-type-item {
    display: inline-block;
    text-align: center;
    width: 185px;
    margin: 30px 0;
  }
}
